@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
/* First Page */
.main{
    background-image: url(Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height:70vh;
    position: relative;
}
.main .box{
    height:70vh;
    width:100%;
    opacity:0.44;
    position: absolute;
    top:0;
    background-color: black;
}
nav{
    max-width: 65vw;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
}
nav img{
    width:124px;
    opacity:1;
    position:relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    height:calc(100% - 62px);
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    gap:23px;
    padding:0 30px;
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight:600 ;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight:400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 4px;
    position:relative;
    z-index: 20;
    background-color: rgb(70, 68, 68);
}
.btn{
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    color:rgba(246, 238, 246, 0.5);
    border: 2px solid rgba(246, 238, 246, 0.5);
    cursor: pointer;
}
.select{
    background-color: rgba(23, 23, 23, 0.7);
    color:rgba(246, 238, 246, 0.5);
    border: none;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 7px 32px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 550;
}
.btn-red:hover{
    background-color: rgb(235, 10, 10);
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.main input{
    background-color: rgba(23, 23, 23, 0.7);
    padding: 8px 101px 8px 14px;
    font-size: 13px;
    font-weight: 900;
    border-radius: 5px;
    color:whitesmoke;
    border: 2px solid rgba(246, 238, 246, 0.5)
}
.btn-red-sm{
    background-color: red;
    color:white;
}
.btn-red-sm:hover{
    background-color:rgb(235, 10, 10) ;
}
/* Second Page */
.second_page{
    display: flex;
    justify-content:center;
    color: white;
    max-width: 70vw;
    margin: auto;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width:30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width:30vw;
}
.second_content{
    display: flex;
    flex-direction: column;
}
#id1{
    font-weight: 900;
    font-size: 48px;
}
#id2{
    font-weight:400;
    font-size: 20px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background:black;
    color:white;
    padding:34px;
}
.faq_box:hover{
    background-color: rgb(84, 80, 80);
}
.faq_box{
    display:flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgb(44, 41, 41);
    max-width: 61vw;
    margin: 12px auto;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}
.faq_footer{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:15px;
}
.input_button{
    background-color: rgba(23, 23, 23, 0.7);
    padding: 8px 101px 8px 14px;
    font-size: 13px;
    font-weight: 900;
    border-radius: 5px;
    color:whitesmoke;
    border: 2px solid rgba(246, 238, 246, 0.5)
}
#shubh{
    margin:15px;
    font-size: 20px;
    font-weight: 400;
}
.btn-faq{
    background-color: red;
    color: white;
    padding: 7px 32px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 550;
}
.btn-faq:hover{
    background-color: rgb(235, 10, 10);
}
footer{
    color:white;
    max-width: 60vw;
    margin: auto;
    padding:14px;
    font-size: 22px;
    font-weight: 500;
}
.questions{
    padding: 26px 0;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
}
.footer a{
    font-size:14px;
    color:white;
}
.footer_item{
    display: flex;
    flex-direction: column;
    gap:13px;
    font-size: 20px;
    font-weight: 525;

}